body {
  background: $white;
  color: $brand-primary;
  padding-top: 50px;
  font-size: $font-size-base;

  /* Navigation */
  nav {
    &.navbar {
      border-radius: 0;
    }
    &.navbar-nav {
      form {
        &.navbar-form {
          padding: 10px 15px;
          margin-top: 8px;
          margin-right: -15px;
          margin-bottom: 8px;
          margin-left: -15px;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          @include boxShadow($form-shadow);          
        }        
      }
    }
    .form-control {
      width: 100%;
      padding: 0.5rem 0.75rem;
      line-height: 1.25;
      color: $white;
      background-color: $form-input-dark;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      @include cssTransition($transition-input);
    }
  }  
  /* Links */
  a {
    color: $link-color;
    text-decoration: none;
  }

  #wrapper {
    padding-left: 0;
    @include cssTransition($transition);
    .navbar-toggle {
      @media (min-width: $screen-sm) {
        display: block !important;
      }    
      @media screen and (max-width: $screen-sm - 1) {
        float: left;
        margin-left: 15px;
      }
    }
    &.toggled {
      padding-left: 250px;
      #sidebar-wrapper {
        width: 250px;
        @media screen and (min-width: $screen-sm) {
          width: 250px;
        }
      }
      #page-content-wrapper {
        position: absolute;
        margin-right: -250px;
        @media screen and (min-width: $screen-sm) {
          position: relative;
          margin-right: 0;
          margin-bottom: 35%;
        }
      }
      @media screen and (min-width: $screen-sm) {
        padding-left: 250px;
      }
    }
    .navbar {
      form {
        margin: 8px 5px -10px 5px;
      }
    }
    @media screen and (min-width: $screen-sm) {
      padding-left: 0;
    }
  }

  footer {
    &.footer {
      position: fixed;
      bottom: 0;
      z-index: 1090;
      width: 100%;
      height: 60px;
      background-color: $mintcream;      
      @media screen and (max-width: $screen-sm - 1) {
        height: 6em;
        bottom: 0;
      }
      @media screen and (max-width: $screen-sm - 1) and (orientation: landscape) {
        position: fixed;
        bottom: 0;
      }
      .copyright, .app-label {
        @media screen and (max-width: $screen-sm - 1) {
          float: none !important;      
        }
      }
      .footerwrap {
        margin: 10px auto;        
      }
    }
  }
} /* End Body */