.dashboard-ui {
  table {
    &.table {
      tr {
        th {
          text-align: center;
          text-transform: uppercase;
        }
        &:nth-child(2) {
          text-transform: lowercase;
        }
        td {
          text-align: center;
          padding: 15px;
          text-transform: uppercase;
          &:nth-child(1) {
            text-transform: lowercase;
          }
          &.active {
            background-color: $gray-active-bg;
            color: $white;
            &:hover, &:focus {
              opacity: 0.9;
            }
          }
          &.success {
            background-color: $green-success-bg;
            color: $white;
            &:hover, &:focus {
              opacity: 0.9;
            }
          }
          &.warning {
            background-color: $yellow-warning-bg;
            color: $white;
            &:hover, &:focus {
              opacity: 0.9;
            }
          }
          &.danger {
            background-color: $red-danger-bg;
            color: $white;
            &:hover, &:focus {
              opacity: 0.9;
            }
          }
          &.info {
            background-color: $blue-info-bg;
            color: $white;
            &:hover, &:focus {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $screen-sm) {
    margin-bottom: 3em;
  }
  @media screen and (max-width: $screen-sm - 1) {
    margin-bottom: 25%;
  }
}
