@mixin helvetica-stack() {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

@mixin borderRadius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin cssTransition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}


@mixin borderBox($border-box) {
  -webkit-box-sizing: $border-box;
  -moz-box-sizing: $border-box;
  -o-box-sizing: $border-box;
  -ms-box-sizing: $border-box;
  box-sizing: $border-box;
}

@mixin boxShadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin gradientBgImg($bg-grad-white, $end-grad-white) {
  background-image: -webkit-linear-gradient($bg-grad-white);
  background-image: -moz-linear-gradient($bg-grad-white);
  background-image: -o-linear-gradient($bg-grad-white);
  background-image: -ms-linear-gradient($bg-grad-white);
  background-image: linear-gradient($end-grad-white);
}
