.modal-content {
	border-radius: 0;

	.modal-title {
		text-align: center;
	}

	label {
		font-weight: 200;
		letter-spacing: 1px;
	}

	.login-btn {
		text-align: center;
		margin: 0 auto;
		border-radius: 0;
	}

	input {
		border-radius: 0;
		box-shadow: none;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #ccc;
			font-weight: 100;
			letter-spacing: 1px;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #ccc;
			font-weight: 100;
			letter-spacing: 1px;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #ccc;
			font-weight: 100;
			letter-spacing: 1px;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #ccc;
			font-weight: 100;
			letter-spacing: 1px;
		}
	}
}