#sidebar-wrapper {
  z-index: 1050;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $black-mild !important;
  @include cssTransition($transition);
  .navbar-toggle {
    @media (min-width: $screen-sm) {
      display: block !important;
    }    
    @media screen and (max-width: $screen-sm - 1) {
      float: left;
      margin-left: 15px;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    width: 100%;
    background-color: $graydark;
    li {
      display: block;
      width: 100%;
    }
  }
  /* Sidebar Styles */
  .sidebar-nav {
    position: absolute;
    z-index: 1050;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    .nav {
      .open {
        & > a {
          color: $gray;
          &:hover, &:focus {
            color: $gray;
          }
        }
      }
    }
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        display: block;
        text-decoration: none;
        color: $sidebar-bg;
        &:active, &:focus, &:hover {
          text-decoration: none;
          color: $dimgray;
        }
        &:hover {
          color: $white;
          background: $sidebar-bg;
        }
      }
      & > a {
        padding: 5px 15px 5px 8px;
        margin-left: -12px;
      }
    }
    & > .sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 30px; // 60px
      a {
        color: $sidebar-bg;
        &:hover {
          color: $white;
          background: none;
        }
      }
    }
  }
  @media screen and (min-width: $screen-sm) {
    width: 0;
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  @media screen and (min-width: $screen-sm) {
    padding: 20px;
    position: relative;
  }
}
