$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//$fa-font-path: "~font-awesome/scss/font-awesome.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';
@import 'mixins';
@import 'modal';
@import 'base';
@import 'sidebar';
@import 'dashboard';
@import 'tables';
