/************* FONTS ****************/
$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 22px,
  xl: 32px
);

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base:            14px;
$font-size-large:           ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:           ceil(($font-size-base * 0.85));

$font-size-h1:              floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:              floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:              ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:              ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:              $font-size-base;
$font-size-h6:              ceil(($font-size-base * 0.85)); // ~12px

/************* COLORS ****************/
$colors: (
  /* Black */
  black:                    #000000,
  black-1:                  #111111,
  black-2:                  #222222,
  black-3:                  #333333,

  /* White */
  white:                    #FFFFFF,
  white-1:                  #F8F8F8,
  white-2:                  #F5F5F5,

  /* Gray */
  gray:                     #CCCCCC,
  gray-1:                   #A9A9A9,
  gray-2:                   #DCDCDC,
  gray-3:                   #101010,
  gray-4:                   #444444,
  gray-5:                   #555555,
  gray-6:                   #666666,
  gray-7:                   #777777,
  gray-8:                   #888888,  // 30% opacity of black
  gray-9:                   #999999,  // 20% opacity of black
  gray-10:                  #E8E8E8,  // Silver
  gray-11:                  #EEEEEE,  // Silver Light
  gray-12:                  #E7E7E7,  // Silver Lightest
  gray-13:                  #F5F5F5,  // Silver Dark

  /* Red */
  red:                      #990000,
  red-1:                    #A94442,
  red-2:                    #F2DEDE,

  /* Blue */
  blue:                     #003399,
  blue-1:                   #2160AF,
  blue-2:                   #003366,
  blue-3:                   #4A6685,

  /* Green */
  green:                    #3C763D,
  green-1:                  #DFF0D8,
  green-2:                  #527B29,

  /* Yellow */
  yellow:                   #FFCC00,
  yellow-1:                 #FCF8E3,
  yellow-2:                 #D6AF00,

  darkblue:                 #00008B,
  skyblue:                  #87CEEB,
  steelblue:                #4682B4,
  lightblue:                #337AB7,
  cornflowerblue:           #6495ED,
  lavender:                 #D3D8E6
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

$white:                     color(white);
$whitesmoke:                color(white-1);
$mintcream:                 color(white-2);

$black:                     color(black);
$black-carbon:              color(black-1);
$black-mild:                color(black-2);

$gray:                      color(gray);
$dimgray:                   color(gray-1);
$gainsboro:                 color(gray-2);
$graydark:                  color(gray-3);
$gray-active-bg:            color(gray-1);

$silver:                    color(gray-10);
$silver-light:              color(gray-11);
$silver-lighter:            color(gray-12);
$silver-dim:                color(gray-13);

$green:                     color(green);
$green-success-alert:       color(green-1);
$green-success-bg:          color(green-2);

$yellow:                    color(yellow);
$yellow-warning-alert:      color(yellow-1);
$yellow-warning-bg:         color(yellow-2);

$red:                       color(red);
$red-danger-alert:          color(red-1);
$red-danger-bg:             color(red);

$blue:                      color(blue);
$dimblue:                   color(blue-1);
$slatelue:                  color(blue-2);
$blue-info-alert:           color(steelblue);
$blue-info-bg:              color(blue-3);

$skyblue:                   color(skyblue);
$lightblue:                 color(lightblue);
$cornflowerblue:            color(cornflowerblue);
$lavender:                  color(lavender);

$color-primary:             $black;


/**************** Backgrounds *****************/
$brand-primary:             darken($color-primary, 7%);
$body-bg:                   $brand-primary;
$bg-grad-white:             top, $white 50%, $silver 100%;
$end-grad-white:            to bottom, $white 50%, $silver 100%;
$bg-grad-silver:            top, $silver 50%, $gray 100%;
$end-grad-silver:           to bottom, $silver 50%, $gray 100%;
$sidebar-bg:                rgba(255,255,255,0.5);

$form-shadow:               inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
$form-input-dark:           #434857;


/**************** Typography *****************/

$brand-success:             $green-success-alert;
$brand-info:                $blue-info-alert;
$brand-warning:             $yellow-warning-alert;
$brand-danger:              $red-danger-alert;

//** Global text colors
$text-color:                $brand-primary;
$link-color:                $lightblue;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;
$border-box:                border-box;
$border-radius:             4px;
$border:                    1px solid rgba(0,0,0,.15);
$box-shadow:                0 6px 12px rgba(0,0,0,.175);
$user-select:               none;
$val-appearance:            none;

/**************** Button Colors *****************/
$btn-default-color:         $gray;
$btn-default-bg:            $white;
$btn-default-border:        color(gray-7);

$btn-primary-color:         $white;
$btn-primary-bg:            $brand-primary;
$btn-primary-border:        darken($btn-primary-bg, 5%);

$btn-success-color:         $white;
$btn-success-bg:            $brand-success;
//$btn-success-border:      darken($btn-success-bg, 5%);

$btn-info-color:            $white;
$btn-info-bg:               $brand-info;
$btn-info-border:           darken($btn-info-bg, 5%);

$btn-warning-color:         $white;
$btn-warning-bg:            $brand-warning;
$btn-warning-border:        darken($btn-warning-bg, 5%);

$btn-danger-color:          $white;
$btn-danger-bg:             $brand-danger;
$btn-danger-border:         darken($btn-danger-bg, 5%);

$btn-link-disabled-color:   $silver-light;


/**************** Globals *****************/
$one-px:                    1px;
$line-height-base:          1.428571429;

$pad-start:                 22px;
$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

$transition:                all 0.5s ease;
$transition-input:          border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;


/**************** Viewports *****************/
/*  MEDIA QUERIES ==========================*/
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-ultra:                1400px;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

